img.logo {
  height: 30px;
  filter: grayscale(60%);
}
nav div {
  position: sticky;
  top: 0px;
}
.bava-custom {
  background-color: rgb(192, 178, 175);
  position: sticky;
  top: 0;
  z-index: 4;
}
.okk {
  font-size: 14px;
  font-weight: 550;
}
.okk:hover {
  background-color: rgba(127, 255, 212, 0.519);
  transition: 0.2s;
  border-radius: 12px;
}
.test-icon {
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-ck {
  font-size: 14px;
  font-weight: 550;
}
.create-new {
  color: rgb(255, 255, 255);
  background-color: rgba(165, 42, 42, 0.371);
  border-radius: 50px;
}
h5 {
  border-bottom: 2px solid rgb(255, 255, 255);
  color: #eee;
  font-size: 15px;
}
h6 {
  font-size: 12px;
  color: #eee;
}
h6 a {
  color: white;
  text-decoration: none;
}
h6 a:hover {
  color: goldenrod;
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 20px;
  background: none; /* Remove the background image from the footer */
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./pic/bg2.jpg);
  background-position: center;
  background-size: cover;
  filter: saturate(10px);
  filter: blur(3px); /* Adjust the pixel value as needed */
  z-index: -1; /* Ensure the pseudo-element is behind the footer content */
}

fieldset {
  width: 100%;
  height: auto;
  padding: 12px;
}
label.didi {
  font-size: 16px;
  font-weight: 600;
  color: white;
}
div.botton {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-left: 12px;
  gap: 13px;
}
main {
  width: 100%;
  height: 600px;
  z-index: 2;
}
main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
div.we-box {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.we-box h1 {
  font-weight: 900;
  transform: scaleY(2);
  font-size: 35px;
  text-shadow: 1.5px 1.5px 2px black;
}
.we-box center {
  font-size: 24px;
  font-weight: 550;
  text-decoration: none;
}
.we-box button {
  display: inline-block;
  padding: 4px 11px;
  border-radius: 20px;
}
.we-box button a {
  font-size: 24px;
  display: block;
  text-decoration: none;
  font-weight: 700;
  padding: 4px 11px;
  border-radius: 20px;
  z-index: 5;
}
.ddd {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bbb {
  font-size: 12px;
  font-weight: 550;
}
.hh {
  display: none;
}
/* !Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  img.logo {
    height: 35px;
  }
  .okk {
    font-size: 16px;
  }
  .form-ck {
    font-size: 16px;
  }
  .test-icon {
    font-size: 13px;
  }
}

/*! Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  img.logo {
    height: 40px;
  }
  .okk {
    font-size: 18px;
  }
  .form-ck {
    font-size: 18px;
  }
  .bbb {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  .hh {
    display: block;
  }
}

/*! Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  img.logo {
    height: 45px;
  }
  .okk {
    font-size: 20px;
  }
  .form-ck {
    font-size: 20px;
  }
}

/*! X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  img.logo {
    height: 50px;
  }
}
